*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	/* 1 for font size 2 for line height */
	font: 1em/2 Arial, Helvetica, sans-serif
}

#demo1 {
	width: 400px;
	height: 40px;
	padding: 30px;
	font-size: 25px;
	background: linear-gradient(to bottom ,blue,#2d64b3);
	color:rgba(255,255,255,0.9);
	border-radius: 10px;
}
#demo1 a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
#demo1::before {
	content: " ";
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-image: url(http://tb2.bdstatic.com/tb/static-pcommon/img/tb_login/baidu_logo_eeb9765.png);
	background-size: 100% 100%;
	vertical-align: -10px;
	margin-right: 10px;
}
#demo1::after {
	content:" ";
	width: 40px;
	height: 40px;
	
	background-image: url("../src/forward.png");
	background-size: 100% 100%;
	float: right;
}


.wraper
{
	margin-left: 20px;
	margin-top: 50px;
	width: 320px;
	border: 2px solid black;
}

.wraper:hover {
	width:400px;
}
.wraper img {
	height: 100px;
	width: 100px;
	float: left;
}
#row1 {
	font-size: 20px;
	color: #333;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 8px;
}
#row2 {
	font-size: 12px;
	color: #666;
	line-height: 1.2em;
}

.box {
	float: left;
	width: 150px;
	height: 150px;
	margin: 15px;
	border-radius: 10px;
	background-color: rgb(207,232,220);
	padding: 1em;
  }
  
  .special {
	background-color: rgb(79,185,227);
	padding: 10px;
	color: #fff;
  }

  .big_box {
	background-color: rgb(79,185,227);
	padding: 10px;
	color: black;
	/* overflow: auto;	 */
	/* display: flow-root; */
  }
  
 
